.jumbotron {
  height: 275px;
  margin: 20px 50px 20px 50px;
  padding: 10px 10px 10px 10px;
  text-align: center;
  vertical-align: center;
}

.display-4 { font-weight: bold; }
#github-link { font-weight: light;}

.input-group { 
  width: 800px;
  align-content: center;
}

#viz-row, #viz-row-2, #input-row {
  margin: 20px 50px 20px 50px;
}

.col-md-6 {
  height: 500px;
  border: 2px dashed red;
  text-align: center;
}

canvas {
  padding: 0;
  margin: auto;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}