.jumbotron {
    height: 280px;
    margin: 20px 50px 20px 50px;
    padding: 10px 10px 10px 10px;
}

.display-4 {
    text-align: center;
    font-weight: bold;
}

.lead { text-align: center; }
#github-link { text-align: center; }



#viz-row {
    margin: 20px 50px 20px 50px;
}

#viz-row
.col-md-4 {
    height: 500px;
    border: 2px dashed red;

}