<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <!-- Leaflet CSS -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" 
        integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" 
        crossorigin="" />

    <!-- Bootstrap CSS-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" 
        crossorigin="anonymous">

    <!-- Our CSS -->
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">

</head>

<body>
    <div class="container-fluid">

        <!--Header Row-->
        <div class="jumbotron">
            <h1 class="display-4">Las Vegas' Best According to Yelp</h1>
            <p class="lead">Once we have all three visuals loaded, we'll add a short and sweet explanation here.</p>
            <span class="lead"><a id="github-link" href="https://github.com/drewpgilmore/group-project-2" target="_blank">Check out our code on GitHub</a></span>
            <hr class="my-4">
            <div class="row" id="input-row">
                <div class="input-group">
                    <select class="custom-select" id="inputGroupSelect04" aria-label="Example select with button addon">
                        <option selected>Choose a category...</option>
                        <option>American</option>
                        <option>Chinese</option>
                        <option>Italian</option>
                        <option>Mexican</option>
                        <option>Japanese</option>
                        <option>Thai</option>
                        <option>Filipino</option>
                        <option>Indian</option>
                        <option>Korean</option>
                        <option>French</option>
                        <option>Mediterranean</option>
                      </select>
                  </div>
            </div>
        </div>
            
        <!--Button row-->
        <div class="row justify-content-md-center">
            <a type="button" class="btn btn-secondary btn-lg" href="/map">Switch to Map View</a>
        </div>

        <!--Viz Row-->
        <div class="row" id="viz-row">

            <!--Visual 1 MAP-->
            <div class="col-md-6" id="viz-1">
                <canvas id="Bar"></canvas>
            </div>

            <!--Visual 2 BAR CHART-->
            <div class="col-md-6" id="viz-2">
                <canvas id="Doughnut"></canvas>
            </div>

    </div>

    <!--Leaflet JS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    
    <!-- D3 JavaScript -->
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/d3/4.2.3/d3.min.js"></script>
    
    <!-- Chart.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"
    integrity="sha512-vBmx0N/uQOXznm/Nbkp7h0P1RfLSj0HQrFSzV8m7rOGyj30fYAOKHYvCNez+yM8IrfnW0TCodDEjRqf6fodf/Q=="
    crossorigin="anonymous"></script>
    
    <!-- API key -->
    <script type="text/javascript" src="../static/js/config.js"></script>
    
    <!-- Bar Chart JavaScript -->
    <script type="text/javascript" src="../static/js/app.js"></script>

</body>
</html>